/*-------------------------
BASE CSS
--------------------------*/



/*-------------------------
FONT CROSS BROWSER COMP.
--------------------------*/




/*-------------------------
LAYOUT
--------------------------*/

.container {
	width: 80%;
	margin: auto;
}




.holidays {
	width: 50%;
	float: left;
	height: 240px;
}

.photo {
	display: none;
}

.box {
	width: 30%;
	height: 250px;
	float: left;
	-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
	transition: .3s;
	margin: auto;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.highlight {
	opacity: .6;
}

.example {
	margin-top: 120px;
	font-size: 30px;
	text-align: center;
	color: white;
	opacity: 0;
}
